@import "bootstrap/scss/bootstrap";
@import "components/cards";
@import "components/navbar";
@import "components/avatar";
@import "components/form";

.btn-size {
  height: 40px;
}

body {
  background-size: cover;
}

body .container {
  height: 100vh;
  // position: relative;
}
.clear-btn {
  // position: absolute;

  // right: 0px;
}

.background_photo {
  margin: 0;
}
